
#up /* Шапка */
{
    font-family: fantasy;

    font-size: 150%;
}

#ad /* Рекламное табло */
{
    margin: 200px 0px 30px 0px;

    padding: 50px;

    background: #e9ddb5;

    border-bottom: 1px solid rgb(0, 0, 0);

    border-top: 1px solid rgb(0, 0, 0);
}

#bottom /* Подвал */
{
    width: 100%;

    height: 450px;

    background: rgb(204, 204, 204);

    border-top: 1px solid rgb(0, 0, 0);
}

#c /* Цветная вставка. Подвал */
{
    margin: 10px 50px 50px 50px;

    padding: 100px;

    background: #9c9c9a;
}

.n /* Подписи */
{
    font-family: fantasy;

    font-size: 120%;

    text-align: center;
}

/* Наша доставка подарит широкий спектр вкусов как от классической, так и от экзотической пиццы.  */








