
#ad /*Рекламное табло*/
{
    margin: 200px 0px 30px 0px;

    padding: 250px;

    background: #e9ddb5;
}

#bottom /*Подвал*/
{
    width: 1885px;

    height: 500px;

    background: rgb(204, 204, 204);
}

#c /*Цветная вставка. Подвал*/
{
    width: 1085px;

    height: 300px;

    background: #111110;
}

#up /*Шапка*/
{
    margin: 100px 0px 0px 500px;

    font-family: fantasy;
}
